html, body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

section > div {
    height: auto;
    background-color: cornflowerblue;
    font-size: 3em;
    color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
}



